@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');

*,
*:after,
*:before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
html{
  scroll-behavior: smooth;
}
body{

  min-height:100vh;
}
.container{
  background: rgba(0,0,0,0.5);
  color:#fff;
  position: relative;
  z-index: 1000;

}
.cover{
  background: url("https://source.unsplash.com/1600x900/?nature,water") no-repeat center center/cover;
  z-index:1;
  
  width: 100vw;
  height:80vh;
}

.cco p{
  text-align: start;
}
.cco h1{
  text-align: start;
}